

<!-- end header -->
<div class="row-2">
  <div class="container_12">
    <div class="grid_12">
      <div class="flexslider">
	  <div class="grid_12 ident-bot-2">
      <div class="block-2"> <img class="img-border fleft" src="/assets/user_img.jpg" alt="" />
        <div class="block-2-1">

		<div id="confirm">
          <%if session[:user] != nil%>
        <form>
            <fieldset>
            <label >Name<br><%=text_field_tag 'name', session[:user]['name'],disabled:true%></label><br>
            <label >Email<br><%=email_field_tag 'email',session[:user]['email'],disabled:true%><br>
            <label >Password<br><%=text_field_tag 'pwd', session[:user]['password'],disabled:true%></label><br>
            <label >Telphone<br><%=telephone_field_tag 'tel', session[:user]['telephone_number'],disabled:true%></label><br>
              <br><br><div ></div>
            <div class="btns"><%=link_to '修改个人信息', homes_edit_userinfo_path(:edit=>0),class:'button-red'%></div>
            </fieldset>
          </form>
          <%else%>
              <br> <br> <br><label style="font-size: 30px;">您尚未登录，请登录后查看个人信息！</label>
          <%end%>
        </div>


		</div>
        <div class="clear"></div>
		</div>
		</div>
      </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

